@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

/* header section styles */
/* navbar styles */
.header-navbar {
  border: 2px solid black;
  padding: 5px 50px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.list-items {
  display: flex;
  gap: 20px;
  list-style: none;
}

.list-items a {
  text-decoration: none;
  color: #3C354F;
  font-size: 18px;
  font-weight: 500;
}

.nav-title {
  display: flex;
  gap: 20px;
  align-items: center;
}

#follow {
  width: 262px;
  height: 56px;
  background: rgba(11, 2, 35, 0.10);
  padding: 18px 24px 18px;
  border-radius: 8px;
}

#gamer-icon {
  color: red;
}

.youtube {
  width: 50%
}

/* navbar styles is finished */
/* banner-section is started here */
.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 100px 10px;
}

.banner-image {
  width: 50%;
  border: 2px solid blue;
}

.banner-image img {
  width: 100%;
}

.banner-content {
  width: 50%;
  border: 2px solid yellow;
  padding: 10px;
}

.banner-title {
  color: #0B0223;

  font-size: 48px;
  font-weight: 600;

}

.banner-description {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.banner-list {
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}

.btn-group {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.btn-1 {
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
  background-color: red;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

.btn-2 {
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
  background: #4EC5F7;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

/* <!-- banner section is finished here -->
        <!-- section two is started here --> */

.main-section {
  display: flex;
  border: 2px solid green;
  justify-content: space-between;
  align-items: center;
  margin: 10px 100px 10px;
  background-color: #FF42A5, #FF42A5;

}

.main-image {
  border: 2px solid yellow;
  width: 50%;
}

.main-content {
  border: 2px solid blue;
  width: 50%;
  padding: 20px;
}

.main-image img {
  width: 100%;
}

.main-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#purpose,
.main-description {
  color: #534C64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;

}

.main-btn {
  border: none;
  position: relative;
  left: 600px;
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

.last-text {
  text-align: right;
}

.more-text {
  color: #534C64;
  font-size: 32px;
  font-weight: 700;
}


/* <!-- section two is finished  here --> */
/* <!-- section three is started here --> */

.main-three {
  border: 2px solid black;
}

.online-games-title {
  color: #0B0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;

}

.online-games-title span {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.online-games-description {
  color: #534C64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.image-container {
  display: flex;
  gap: 25px;
  align-items: center;
  border: 2px solid red;
  width: 100%;
  margin-left: 200px;
  background: #FFF;
}

/* <!-- section finished is started here --> */
/* <!-- section four is started here --> */
.main-four-content {
  display: flex;
  border: 3px solid yellow;
  align-items: center;
  height: 900px;
}

.main-four-text {
  border: 2px solid red;
  width: 50%;
  padding-left: 190px;margin-bottom: 100px;
}

.main-four-image {
  border: 2px solid brown;
  width: 50%;
  height: 800px;
}

.main-four-image #image-one {
  width: 70%;position: relative;
  left: 50px;
}

.main-four-image #image-two {
  width: 40%;position: relative;
  right: 60px;top:-170px;
}

.main-four-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main-four-title {
  color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}

#main-four-title{
  color: #0B0223;
font-size: 48px;
font-weight: 700;
line-height: 60px;
}

























@media screen and (max-width:576px) {
  .header-navbar {
    flex-direction: column;
    padding: 5px 10px 5px;
    width: 98%;
    margin: 0px;
  }

  .list-items {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  /* navbar is finished */
  .banner-section {
    flex-direction: column-reverse;
    margin: 10px 20px 10px;
    align-items: center;
  }

  .banner-content {
    width: 100%;
    margin-left: 15px;
  }

  .banner-image {
    width: 100%;
  }

  /* <!-- banner section is finished here -->
        <!-- section two is started here --> */
  .main-section {
    flex-direction: column;
    margin: 10px 10px 10px;

  }

  .main-image {
    width: 100%;
  }

  .main-content {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .main-btn {
    position: static;
    padding: 15px 20px;

  }

  .last-text,
  .main-description {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }

  .main-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
  }

  /* <!-- section two is finished  here --> */
  /* <!-- section three is started here --> */
  .image-container {
    flex-direction: column;
    margin: 5px 10px;
  }

  /* <!-- section three is finished here --> */
  /* <!-- section four is started here --> */
  .main-four-content {
    flex-direction: column;
  }

  .main-four-text {
    width: 100%;margin-right: 80px;
  }

  .main-four-image {
    ;
    width: 100%;
  }

  .main-four-image #image-one {
    width: 70%;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
    left: -10px;
  }

  .main-four-image #image-two {
    width: 45%;
    margin-left: 20px;
    position: relative;
    top: -110px;left: -5px;

  }

}
.footer{background: #0B0223;
  border:3px solid blue;margin-top: 100px;text-align: center;
 
}
{

}
.footer-list{
  color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
 display:flex;list-style: none;gap:80px;padding-left: 600px;
}
.terms{
  color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
list-style: none;display:flex;gap:50px;padding-left: 650px;
}
.footer-title{
  list-style: none;display:flex;gap:50px;padding-left: 850px;
}
.footer-description{
  color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;

}
.footer-title, #amer{
  color:#FFF;

}